*{
    border:0px;
    margin:0px;
}

.heading{
    font-size: 60px;
    text-align:center;
    padding-top: 15px;
}
body{
    background-color: aqua;
    text-align:center; 
    display:flex;
    justify-content: center;
}
.container{
    height:70vmin;
    display:flex;
    align-items:center;
    justify-content: center;
}
.game{
    height:60vh;
    width:60vh;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
}

.box{
    background-color: rgb(253, 6, 6);
    color:rgb(6, 253, 10);
    height:18vh;
    width:18vh;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;  
    border-radius: 9px;
    font-size: 65px;
}

.reset{
    display:flex;
    justify-content:center; 
    height:100px;
}
#reset-btn{
    background-color: bisque;
    font-size: 24px;
    height:30px;
    width:100px;
       
}
.message{
    height:30px;
    color:blue;
    width:300px;
    font-size:25px;
}
.msg-container{
    height:85vh;
    align-items:center;
    display:flex;
    justify-content:center; 
    flex-wrap: wrap;
    flex-direction: column;
    gap:20px;
}
#new-btn{
    font-size: 20px;
    height:30px;
    width:120px;
    color:red;
    align-items:center;
    display:flex;
    justify-content:center;
}
.main{
    align-items:center;
    display:flex;
    justify-content:center;
}
.hide{
    display:none;
}